{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/shopping.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<header>
  <div id="content">
    <div class="cartInfo"><span class="simpleCart_quantity">0</span> items</div>
    <div id="cartPopover" style="display: none;">
      <div id="triangle">▲</div>
      <div class="simpleCart_items">
        <div>
          <div class="headerRow">
            <div class="item-custom"></div>
            <div class="item-name"></div>
            <div class="item-total"></div>
          </div>
        </div>
      </div>
      <div id="cartData" class="clearfix">
        <div class="left"><strong>商品: </strong><span class="simpleCart_quantity">0</span></div>
        <div class="right"><strong>总计: </strong><span class="simpleCart_total">¥0</span></div>
      </div>
      <div id="popoverButtons" class="clearfix">
        <a href="/admin/cartview/" class="hudbtn left">查看</a>
        <a href="javascript:;" class="simpleCart_checkout hudbtn primary right">付款</a>
      </div>
    </div>
  </div>
</header>
<section class="intro" style="overflow: visible;">
  <div id="demo">
    <div id="demoShelf">
      <div class="row show-grid">
        <div class="simpleCart_shelfItem span2">
          <div class="mytooltip" style="display: none;">
            <span class="item_price">¥19.99</span>
            <a href="javascript:;" class="item_add">加入购物车</a>
          </div>
          <img src="{{ url_for('static', filename='img/l1.jpg') }}" width="135px" height="125px" alt="Sample Product" class="item_image item_add">
          <span class="item_name">product_1</span>
        </div>
        <div class="simpleCart_shelfItem span2">
          <div class="mytooltip" style="display: none;">
            <span class="item_price">¥59.99</span>
            <a href="javascript:;" class="item_add">加入购物车</a>
          </div>
          <img src="{{ url_for('static', filename='img/l2.jpg') }}" width="135px" height="125px" alt="Sample Product" class="item_image item_add">
          <span class="item_name">product_2</span>
        </div>
        <div class="simpleCart_shelfItem span2">
          <div class="mytooltip" style="display: none;">
            <span class="item_price">¥12.99</span>
            <a href="javascript:;" class="item_add">加入购物车</a>
          </div>
          <img src="{{ url_for('static', filename='img/l3.jpg') }}" width="135px" height="125px" alt="Sample Product" class="item_image item_add">
          <span class="item_name">product_3</span>
        </div>
        <div class="simpleCart_shelfItem span2">
          <div class="mytooltip" style="display: none;">
            <span class="item_price">¥62.99</span>
            <a href="javascript:;" class="item_add">加入购物车</a>
          </div>
          <img src="{{ url_for('static', filename='img/l4.jpg') }}" width="135px" height="125px" alt="Sample Product" class="item_image item_add">
          <span class="item_name">product_4</span>
        </div>
        <div class="simpleCart_shelfItem span2">
          <div class="mytooltip" style="display: none;">
            <span class="item_price">¥19.99</span>
            <a href="javascript:;" class="item_add">加入购物车</a>
          </div>
          <img src="{{ url_for('static', filename='img/l1.jpg') }}" width="135px" height="125px" alt="Sample Product" class="item_image item_add">
          <span class="item_name">product_5</span>
        </div>
      </div>
      <div class="row show-grid">
        <div class="simpleCart_shelfItem span2">
          <div class="mytooltip" style="display: none;">
            <span class="item_price">¥19.99</span>
            <a href="javascript:;" class="item_add">加入购物车</a>
          </div>
          <img src="{{ url_for('static', filename='img/l1.jpg') }}" width="135px" height="125px" alt="Sample Product" class="item_image item_add">
          <span class="item_name">product_6</span>
        </div>
        <div class="simpleCart_shelfItem span2">
          <div class="mytooltip" style="display: none;">
            <span class="item_price">¥59.99</span>
            <a href="javascript:;" class="item_add">加入购物车</a>
          </div>
          <img src="{{ url_for('static', filename='img/l2.jpg') }}" width="135px" height="125px" alt="Sample Product" class="item_image item_add">
          <span class="item_name">product_7</span>
        </div>
        <div class="simpleCart_shelfItem span2">
          <div class="mytooltip" style="display: none;">
            <span class="item_price">¥12.99</span>
            <a href="javascript:;" class="item_add">加入购物车</a>
          </div>
          <img src="{{ url_for('static', filename='img/l3.jpg') }}" width="135px" height="125px" alt="Sample Product" class="item_image item_add">
          <span class="item_name">product_8</span>
        </div>
        <div class="simpleCart_shelfItem span2">
          <div class="mytooltip" style="display: none;">
            <span class="item_price">¥62.99</span>
            <a href="javascript:;" class="item_add">加入购物车</a>
          </div>
          <img src="{{ url_for('static', filename='img/l4.jpg') }}" width="135px" height="125px" alt="Sample Product" class="item_image item_add">
          <span class="item_name">product_9</span>
        </div>
        <div class="simpleCart_shelfItem span2">
          <div class="mytooltip" style="display: none;">
            <span class="item_price">¥19.99</span>
            <a href="javascript:;" class="item_add">加入购物车</a>
          </div>
          <img src="{{ url_for('static', filename='img/l1.jpg') }}" width="135px" height="125px" alt="Sample Product" class="item_image item_add">
          <span class="item_name">product_10</span>
        </div>
      </div>
    </div>
  </div><!--End #demo -->
  <div class="news span4">
    <ul class="nav">
        <li class="active">
            <a href="#">公司简介</a></li>
    </ul>
    <img src="{{ url_for('static', filename='img/companylogo.jpg') }}" width="600px" height="600px" alt="Sample Product" class="item_image item_add">
    <p style="color: #0088cc;">
        前进汽车配件公司（Advance Motor－fittings Company简称AMC）是1956年公私合营时由五个私营汽车配件商店组成的。1967-年，该公司与北城五金公司合并，1978年后重新独立经营，并附设两个门市部，一个在南郊，另一个在东郊。
    </p>
  </div>
  <div class="news span4">
    <ul class="nav">
        <li class="active">
            <a href="#">销售统计曲线</a></li>
    </ul>
    <img src="{{ url_for('static', filename='img/trends.png') }}" width="600px" height="600px" alt="Sample Product" class="item_image item_add">
  </div>
  <div class="news span8">
    <ul class="nav">
        <li class="active">
            <a href="#">公司新闻</a></li>
    </ul>
    <div class="tabContent" style="display: block;">
      <ul>
        <li>
        <a href="/cn/news/2012/20121220.shtml" title="南航2013年春运计划增加航班5222班" tagret="_blank">AMC2013年春运计划增加航班5222班</a>(2012-12-20)
        </li>
        <li>
            <a href="/cn/news/2012/20121213a.shtml" title="南航与印度捷特航空开展合作 航线网络拓展至印度全境 " tagret="_blank">AMC与印度捷特航空开展合作 航线网络拓展至印度全境 </a>(2012-12-13)
        </li>
        <li>
            <a href="/cn/news/2012/20121213.shtml" title="春运期间，南航伊斯坦布尔航线每周三班" tagret="_blank">春运期间，AMC伊斯坦布尔航线每周三班</a>(2012-12-13)
        </li>
        <li>
            <a href="/cn/news/2012/20121212.shtml" title="开拓新西兰市场 推介广州之路" tagret="_blank">开拓新西兰市场 推介广州之路</a>(2012-12-12)
        </li>
        <li>
            <a href="/cn/news/2012/20121204.shtml" title="关于调整南航国内航线燃油附加征收标准的通知" tagret="_blank">关于调整AMC国内航线燃油附加征收标准的通知</a>(2012-12-04)
        </li>
        <li>
            <a href="/cn/news/2012/20121130a.shtml" title="助力广东经济发展 南航在珠海开通首条省内航线" tagret="_blank">助力广东经济发展 AMC在珠海开通首条省内航线</a>(2012-11-30)
        </li>
        <li>
            <a href="/cn/news/2012/20121130.shtml" title="舌尖上的空中潮汕美食" tagret="_blank">舌尖上的空中潮汕美食</a>(2012-11-30)
        </li>
        <li>
            <a href="/cn/news/2012/20121122a.shtml" title="“钻石奖”：南航安全新起点" tagret="_blank">“钻石奖”：AMC安全新起点</a>(2012-11-22)
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}

{% block tail %}
<script src="{{ url_for('static', filename='js/shopping.js') }}"></script>
<script src="{{ url_for('static', filename='js/simpleCart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.crSpline.js') }}"></script>
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% endblock %}
