{% extends 'admin/index.html' %}

{% block body %}
    <div id="popoverButtons" class="clearfix">
      <a href="javascript:;" class="simpleCart_checkout hudbtn primary right">付款</a>
    </div>
    <!-- show the cart -->
    <div class="simpleCart_items"></div>
{% endblock %}

{% block tail %}
    <script src="{{ url_for('static', filename='js/simpleCart.min.js') }}"></script>
    <script>
       simpleCart.currency({
           code: "CNY" ,
           name: "Chinese Yuan" ,
           symbol: "¥" ,
           delimiter: " " , 
           decimal: "." , 
           after: true ,
           accuracy: 2
        });
        simpleCart({
            //Setting the Cart Columns for the sidebar cart display.
            cartColumns: [
                { attr: "image", label: false, view: "image"},
                //Name of the item
                { attr: "name" , label: "名称" },
                //Quantity displayed as an input
                { attr: "quantity", label: "数量", view: "input"},
                //Built in view for a remove link
                { view:'remove', text: "移除", label: false},
                //Price of item
                { attr: "price", label: "价格"},
                //Subtotal of that row (quantity of that item * the price)
                { attr: "total" , label: "小项合计", view: "currency"  }
            ],
            cartStyle: "table"
        });
    </script>
{% endblock %}
