<!DOCTYPE html>
<html>
    <head>
        <title>AMC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{{ url_for('admin.static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('admin.static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
        <link href="{{ url_for('admin.static', filename='css/admin.css') }}" rel="stylesheet">
    </head>

    <body>
        <form class="form-horizontal" method="POST" action="">
            {{ form.hidden_tag() }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div class="control-group">
                <div class="controls">
                    {{ f.label }}
                </div>
                <div class="controls">
                    {{ f }}
                </div>
                {% if f.errors %}
                <ul>
                    {% for e in f.errors %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
            <div class="controls">
                <input type="submit" class="btn"/>
            </div>
        </form>
    </body>
</html>
